@import "tailwindcss";

body {
  background-color: #fdf6ee;
}

@keyframes sway {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

button {
  cursor: pointer;
}

.fruit-sway {
  animation: sway 1s steps(2) infinite;
  transform-origin: top center;
}
